*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: 100%;
    height: 800px;
    background: #ad5389;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(130, 77%, 62%, 0.671),  hsla(120, 62%, 19%, 0.664)),url(../img/vipusa.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(130, 77%, 62%, 0.671),  hsla(120, 62%, 19%, 0.664)),url(../img/vipusa.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size:cover ;
    background-attachment: fixed;
    position: relative;

}
/*
nav{
    text-align: right;
    padding: 30px 50px 0 0;

}*/

nav{
    text-align: right;
    padding: 30px 50px 0 0;
    
    /*position: relative;*/
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

nav a{

    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ;
}

nav a:hover::after{
    transform: scaleX(1);
}


/*
nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}

nav > a:hover{

    text-decoration: underline;
}
*/

/* login*/



nav .btnLogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5;
}

nav .btnLogin:hover{
    background: #fff;
    color: #162938;
}






.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition:  transform .5s ease,height .2s ease;
}


.wrapper.active{
    height: 520px;
}


.wrapper.active-popup{
    transform: scale(1);
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

 
.wrapper .form-box.login{
 
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}


.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{

    transition: transform .18s ease;
    transform: translateX(0);
}





.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;

}



.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center; 
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938 ;
    margin: 30px 0;
    
}




.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}


.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}




.input-box input{

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;

    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;

}


.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}


.recuerdame-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.recuerdame-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.recuerdame-forgot a{
    color: #162938;
    text-decoration: none;
}
.recuerdame-forgot a:hover{

    text-decoration: underline;
}







.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
} 

.login-register p a:hover{
    text-decoration: underline;
}















/*''''''''''''''''''''''''''''''''''''*/


header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.textos-header h1{
    font-size: 50px;
    color: #fff;

}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}



.wave{
    position: absolute;
    bottom: 0;
    width: 100%;

}


.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;

}

.imagen-about-us{
    width: 48%;

}


.sobre-nosotros .contenido-textos{
    width: 48%;

}
.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;

}

 .contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
 }




 .portafolio{
    background: #f2f2f2;

 }
 .galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;


 }


 .imagen-port{
    width: 24%;
    margin-bottom: 10px;

    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

 }

 .imagen-port > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
 }


 
 .hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%,0.7);
    transition: transform .5;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 }


 .hover-galeria img{
    width: 50px;

 }


 .hover-galeria p{
    color: #fff;

 }


 .imagen-port:hover .hover-galeria{
    transform: scale(1);

 }




.cards{
    display: flex;
    justify-content: space-evenly;
}

 
 .cards .card{
    background: #62b85b;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);


 }

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;

}


.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;


}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;

}




/*       Our team       */






.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{

    width: 28%;
    text-align: center;

}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}


/*        FOOTER       */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer{

    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;

}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0;
    color: #9e9797;
}









@media screen and (max-width:900px){

    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
        
    }

    .imagen-about-us{
        width: 90%;
    }

    



    .imagen-port{
        width: 44%;
    }




    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }


    .servicio-cont{
        justify-content: center;
        flex-direction: column;

    }
    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
    
}